<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
          
            <div class="col-md-9">
                <h1 class="h3 mb-3"> <%= title %> </h1>

                <% if (about.length == 0) { %>
                    <%- include("../partials/no-products")  %>
                <% } %>

                <% about.forEach(abouts => { %>
                    <%- include("../partials/contact-card", abouts)  %> 
                <% }) %>

                
                              
             
            </div>
        </div>
    </div>

</body>
</html>



